.category{
  .buttons  {
      .btn-soft-success{
          background-color:#E1F3E6 ;
          width: 100%;
          color: #02B730;
      }

      .btn-danger{
          background-color: #E21B33;
          color: #fff;
          width: 100%;
          img{
              width: 20px;

          }
      }
}
}
