.providers{
    tr td:nth-child(2) , tr td:nth-child(3)  {
        text-align: start; 
      }
}
.buttons  {

    .btn-outline-danger{
        background-color: #fff;
        border: 1px solid #E21B33;
        color: #E21B33;
        width: 100%;
    }
    .btn-danger{
        background-color: #E21B33;
        color: #fff;
        width: 100%;
        img{
            width: 20px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7472%) hue-rotate(114deg) brightness(109%) contrast(97%);
        }
    }
}