.confirm{
    background-color: #E21B33;
    color: #fff;
}  
.cancel{
    border: 1px solid #E21B33;
    background-color: #fff;
    color: #E21B33; 
}
input {
    color: #8088A4;
    &::placeholder{
        color: #8088A4 !important;
        font-size: 14px;
    }
}
.upload{
    position: absolute;
    top:50px;
    right: 20px;
    cursor: pointer;
}