.profile {
  .form {
    background-color: #fff;
    padding: 40px 30px;
    input {
      color: #8088a4;
    }
    .form-control {
      span {
        font-size: 12px;
        color: #e21b33;
        margin-bottom: 2px;
        display: inline-block;
        padding: 2px 10px;
        background-color: #f8e4e6;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
    }
  }
}
