<section class="add_admin p-4">
    <div class="container">
      <div class="w-100 text-end">
        <svg
          (click)="close()"
          style="cursor: pointer"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.5896 8.39922L8.40913 13.5797"
            stroke="#8088A4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13.5922 13.5824L8.40677 8.39694"
            stroke="#8088A4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.6857 1H6.31429C3.04762 1 1 3.31208 1 6.58516V15.4148C1 18.6879 3.0381 21 6.31429 21H15.6857C18.9619 21 21 18.6879 21 15.4148V6.58516C21 3.31208 18.9619 1 15.6857 1Z"
            stroke="#8088A4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
  
      <div class="title text-center mb-5">
        <h2 class="text-default fw-bold m-auto">Edit Admin </h2>
      </div>
      <div class="row">
        <div class="col-12">
          <form class="form" [formGroup]="form"  (ngSubmit)="add()">
            <div class="row">
              <div class="col-lg-12 mb-4">
                <div class="form-group">
                  <label class="mb-3">Name</label>
                  <input
                    placeholder="Enter Admin Name"
                    type="text"
                    class="form-control"
                formControlName="name"
                [ngStyle]="{'border': submitted && f.name.errors? '1px solid red' : (submitted && f.name.errors ? '1px solid #ebebeb' : null) }" />
                  <p class="text-danger mt-2" *ngIf="f.name?.errors && submitted">
                    *This field is required
                </p>
    
                </div>
              </div>
        
              <div class="col-lg-12 mb-4">
                <div class="form-group">
                  <label class="mb-3">Email</label>
                  <input
                  placeholder="Enter Email" 
                    type="email"
                    class="form-control"
            
                    formControlName='email' [ngStyle]="{'border': submitted && f.email.errors? '1px solid red' : (submitted && f.email.errors ? '1px solid #ebebeb' : null) }" >
                    <div class="errors" *ngIf="submitted && f.email.errors">
                      <p class="text-danger mt-2" *ngIf="f.email.errors?.email"> * this field must be email</p>
                      <p class="text-danger mt-2" *ngIf="f.email.errors?.required"> * this field is required</p>
                    </div>
                </div>
              </div>
              <div class="col-lg-12 mb-4">
                <div class="form-group">
                  <label class="mb-3">Phone Number</label>
                  <input
                  placeholder="Enter Phone" 
                    type="text"
                    class="form-control"
                formControlName="phone"
                [ngStyle]="{'border': submitted && f.phone.errors? '1px solid red' : (submitted && f.phone.errors ? '1px solid #ebebeb' : null) }" />
                  <p class="text-danger mt-2" *ngIf="f.phone?.errors && submitted">
                   <span *ngIf="f.phone?.errors.required"> *This field is required</span>
                   <span *ngIf="f.phone?.errors.pattern">phone number should start with 5 and maximum is 9 digits</span>
                </p>
              </div>
              </div>
              <div class="col-lg-12 mb-4">
                <div class="form-group">
                  <label class="mb-3">Role Name</label>
                  <input
                  placeholder="Enter Role Name" 
                    type="text"
                    class="form-control"
                formControlName="role"
                [ngStyle]="{'border': submitted && f.role.errors? '1px solid red' : (submitted && f.role.errors ? '1px solid #ebebeb' : null) }" />
                <p class="text-danger mt-2" *ngIf="f.role?.errors && submitted">
                  *This field is required
              </p>
              </div>
              </div>
              <div class="col-lg-12 mb-4">
                <div class="form-group position-relative">
                  <label class="mb-3">Roles</label>
                <!-- <span style="position: absolute; top:55px; right: 20px; z-index: 22;" >  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 8.5L12 15.5L5 8.5" stroke="#E21B33" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></span> -->
                    
                  <ng-select [items]="roles"
                  #select
                  placeholder="Choose Roles"
                  (close)="select.blur();" 
                  [clearable]="false"
                  bindLabel="name"
                  bindValue="id"
                  [multiple]="true"
                  dropdownPosition="top"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedRolesIds">
       </ng-select>
   

                </div>
              </div>
              <div class="row my-3">
                <div class="col-md-6">
                  <button type="submit"  class="btn confirm w-100">
                    Edit Admin
                  </button>
                  
                </div>
                <div class="col-md-6">
                  <button type="button" (click)="close()" class="btn  cancel  w-100">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  