.btn-danger{
    background-color: #E21B33;
    color: #fff;
  font-size: 14px;
  
    img{
        width: 20px;
       
    }
  
}

.Delete{
    background: none;
    border: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

a {
    color: black;
}

.card {
    padding: 0px !important;

    .card-header {
        width: 100%;
        padding-inline: 10px;
        border-bottom: 0px;
        background: transparent;

        // img {
        //     filter: brightness(0) saturate(100%) invert(23%) sepia(78%) saturate(3799%) hue-rotate(342deg) brightness(96%) contrast(79%);
        // }

        // &:hover {
        //       color:#000 !important;
        // }
    }
}

 

::ng-deep {
    .mat-expansion-panel {

        &:not(:last-of-type) {
             margin-bottom: 15px !important;
        }

        .mat-expansion-panel-header {
            padding: 0 !important;
            background-color: #f8e4e669;
            .mat-expansion-panel-header-title {
                margin-right: 0px !important;
                padding: 0px !important;
                width: 100% !important;
            }

            //  &:hover {
            //     h5 {
            //    color:#000 !important;
            //     }
            //     img {
            //         filter: none !important;
            //     }
            // }     
            
        }
     

    }
}