.btn-danger{
    background-color: #E21B33;
    color: #fff;
  font-size: 14px;
  
    img{
        width: 20px;
       
    }
  
}
.Delete{
    background: none;
    border: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
a{
    color: black;
}