.card {
    padding: 0px !important;

    .card-header {
        width: 100%;
        padding-inline: 10px;
        border-bottom: 0px;
        background: transparent;
    }
}

::ng-deep {
    .mat-expansion-panel {

        &:not(:last-of-type) {
             margin-bottom: 15px !important;
        }

        .mat-expansion-panel-header {
            padding: 0 !important;
            background-color: #f8e4e669;
            .mat-expansion-panel-header-title {
                margin-right: 0px !important;
                padding: 0px !important;
                width: 100% !important;
            }
 
        }
     

    }
}